*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-image: url(./weather\ images/fog.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    height: 100vh;
    padding: 15px 130px;
}
nav{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
nav p span{
    color: #59946c;
}
nav input{
    border: 1px solid #80d39b;
    transition: all 0.3s ease;
    padding: 5px 5px;
    border-radius: 15px;
}
nav input:hover{
    border: 1px solid #59946c;
}
nav input:focus{
    outline:none;
    border-bottom: 2px solid #59946c;
}
nav button{
    padding: 6px 10px;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: #80d39b;
    transition:all 0.3s ease;
}
nav button:hover{
    cursor: pointer;
    background-color: #59946c;
    color: #fff;
    border: 1px solid #59946c;
}
nav .contact ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
}
nav ul li i{
    color: #80d39b;
    font-size: 1.5em;
    margin-left: 4px;
    transition: all 0.4s ease;
}
nav ul li i:hover{
    color: #59946c;
}
.bold-temp{
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* background-color: aquamarine; */
    padding: 30px;
    width: 50%;
}
.bold-temp h3{
    font-size: 5em;
    font-weight: bolder;
}
.bold-temp .temp-image{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.bold-temp .temp-image h3::after{
    font-size: .6em;
    content: "℃";
}
.bold-temp .temp-image h5{
    font-weight: 300;
    font-size: 2em;
}
.bold-temp #weather-name{
    font-size: 1.5em;
    font-weight:bold;
}
#location{
    font-size: 1.4em;
}
.bold-temp .location-icon{
    display: flex;
    align-items: center;
}
.bold-temp .weather-image-name{
    display: flex;
    align-items: center;
}
.lat-lon{
    display: flex;
}
.lat-lon p:nth-child(2){
    padding-left: 4px;
}
#latitude{
    font-weight: 200;
    padding-left:4px;
    padding-right: 4px;
    border-right: 2px solid black;
}
#longitude{
    font-weight: 200;
    padding-left: 4px;
}
section{
    /* background-color: #59946c; */
    display: flex;
}
aside{
    width: 50%;
    /* background-color: black; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aqi{
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: bisque; */
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 50px 0 50px 0;
}
.aqi > p{
    text-decoration: underline;
}
.wind{
    /* height: 200px; */
    border-radius: 20px;
    /* background-color: aliceblue; */
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 50px 0;
}
.wind > p{
    text-decoration: underline;
}
.wind .wind-info{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.aqi-info{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.p-h6{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: azure; */
    padding: 10px;
}
.border-right{
    border-right: 1px solid rgb(50, 50, 50);
}
.p-h6 h6{
    font-weight: 200;
}
.forecast-section{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    border-radius: 20px;
}
.forecast-section #main-2{
    padding: 20px;
}
.forecast-section .heading p{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}
.forecast-section #forcasts ul li{
    list-style-type: none;
    padding-right: 14px;
}
.forecast-section #forcasts ul{
    display: flex;
    justify-content: center;
}
@media(max-width:786px) {
    header{
        padding: 10px;
    }
    section{
        flex-direction: column;
        align-items: center;
    }
    aside{
        width: 80vw;
        height: 50vh;
    }
    .bold-temp{
        align-items: center;
    }
    .bold-temp .temp-image{
        flex-direction: column;
    }
    .aqi{
        margin-top: 15px;
    }
    .wind,.aqi{
        padding: 20px;
    }
}